p = current_date
p Автор: Тимур Галимханов 
p = link_to 'Приложение Test Guru', github_url('dtrift', 'test-guru-new'), target: :blank
p = link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: :blank
